<div data-wf--navbar--variant="base" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav_component w-nav">
  <div class="padding-global">
    <div class="container-large">
      <div class="nav-wrap">
        <a href="index.html" class="nav_brand w-inline-block">
          <div class="logo">B</div>
        </a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="nav-menu_wrap">
            <div class="nav-left">
              <div class="nav_divider"></div>
              <a href="index.html#ranch" class="nav_link w-inline-block">
                <div class="nav-button_text">
                  <div class="text-size-regular text-weight-medium">Hidup Damai</div>
                </div>
                <div class="nav-button_text is-absolute">
                  <div class="text-size-regular text-weight-medium">Hidup Damai</div>
                </div>
              </a>
              <a href="index.html#about" class="nav_link w-inline-block">
                <div class="nav-button_text">
                  <div class="text-size-regular text-weight-medium">Tentang</div>
                </div>
                <div class="nav-button_text is-absolute">
                  <div class="text-size-regular text-weight-medium">Tentang</div>
                </div>
              </a>
              <a href="index.html#events" class="nav_link w-inline-block">
                <div class="nav-button_text">
                  <div class="text-size-regular text-weight-medium">Ritme Hidup</div>
                </div>
                <div class="nav-button_text is-absolute">
                  <div class="text-size-regular text-weight-medium">Ritme Hidup</div>
                </div>
              </a>
              <a href="index.html#features" class="nav_link w-inline-block">
                <div class="nav-button_text">
                  <div class="text-size-regular text-weight-medium">Fitur</div>
                </div>
                <div class="nav-button_text is-absolute">
                  <div class="text-size-regular text-weight-medium">Fitur</div>
                </div>
              </a>
              <a href="contact.html" class="nav_link w-inline-block">
                <div class="nav-button_text">
                  <div class="text-size-regular text-weight-medium">Kunjungan</div>
                </div>
                <div class="nav-button_text is-absolute">
                  <div class="text-size-regular text-weight-medium">Kunjungan</div>
                </div>
              </a>
            </div>
            <a href="listing.html" class="button is-nav w-inline-block">
              <div class="button-text">
                <div class="button_text">Lihat Listing</div>
                <div class="button-text-animation">
                  <div class="button_text">Lihat Listing</div>
                </div>
              </div>
              <img src="https://wubflow-shield.NOCODEXPORT.DEV/685077c466f113761c6d796b/6853ff8bb7215267b2f31695_Kaleo_Icon.svg" loading="lazy" alt="Kaleo Icon" class="button-image is-nav"/>
            </a>
          </div>
        </nav>
        <div class="nav_button w-nav-button">
          <div class="icon w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==========================================================================
     HEADER COMPONENT
     ========================================================================== -->
