<footer class="footer">
  <div class="padding-global">
    <div class="footer-wrap">
      <div class="container-large">
        <div class="footer_component">
          <div class="footer_left">
            <h3 class="heading-style-h3 is-small">Kami menyambut mereka yang sejalan.
              Entah Anda mencari ketenangan, ruang untuk bernapas, atau sekadar ritme hidup yang baru — PlanB terbuka untuk Anda.</h3>
            <a href="contact.html" class="button w-inline-block">
              <div class="button-text">
                <div class="button_text">Jadwalkan Kunjungan</div>
                <div class="button-text-animation">
                  <div class="button_text">Jadwalkan Kunjungan</div>
                </div>
              </div>
              <img src="https://wubflow-shield.NOCODEXPORT.DEV/685077c466f113761c6d796b/6853ff8bb7215267b2f31695_Kaleo_Icon.svg" loading="lazy" alt="Kaleo Icon" class="button-image" />
            </a>
            <div class="credits">
              <div class="copyright">
                <div class="text-size-regular">Copyright</div>
                <div class="text-size-regular">©</div>
              </div>
              <div class="created">
                <div class="text-size-regular">Redesigned by</div>
                <a href="https://github.com/hivicode" class="credits-link w-inline-block">
                  <div class="text-size-regular">Hivicode</div>
                </a>
              </div>
              <div class="created">
                <div class="text-size-regular">Developed by</div>
                <a href="https://webflow.com/templates/designers/lucas-gusso" class="credits-link w-inline-block">
                  <div class="text-size-regular">Lucas Gusso</div>
                </a>
              </div>
              <div class="powered">
                <div class="text-size-regular">Powered by</div>
                <a href="https://webflow.com/" target="_blank" class="credits-link w-inline-block">
                  <div class="text-size-regular">Webflow</div>
                </a>
              </div>
            </div>
          </div>
          <div class="footer_right">
            <div class="footer_right-wrap">
              <div class="text-style-allcaps text-size-small">ALAMAT</div>
              <div class="text-size-large">Cahaya — 722 Kelinci Blok E5 <br />Air Asri, TX 78624 <br />Indonesia </div>
            </div>
            <div class="footer_right-wrap">
              <div class="text-style-allcaps text-size-small">TELEPON</div>
              <a href="tel:+1(512)555-0198" class="phone-link w-inline-block">
                <div class="text-size-large">+62 812 3456 7890</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom font-zodiak">
        <div class="footer-text">PLANB</div>
        <img src="https://wubflow-shield.NOCODEXPORT.DEV/685077c466f113761c6d796b/685405fce8267d81b0374af7_Kaleo_Icon-black.svg" loading="lazy" alt="Kaleo Icon" class="footer-image" />
      </div>
    </div>
  </div>
</footer>


<!-- ==========================================================================
     FOOTER COMPONENT
     ========================================================================== -->
