<div data-wf--navbar--variant="base" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav_component w-nav">
  <div class="padding-global">
    <div class="container-large">
      <div class="nav-wrap" style="justify-content: center;">
        <a href="index.html" class="nav_brand w-inline-block" style="display: flex; align-items: center;">
          <span>
            <img src="https://wubflow-shield.NOCODEXPORT.DEV/685077c466f113761c6d796b/685405fce8267d81b0374af7_Kaleo_Icon-black.svg" loading="lazy" alt="Kaleo Icon" style="height: 3rem; width: auto;">
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- ==========================================================================
     HEADER (MINIMAL) COMPONENT
     ========================================================================== -->
